@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css');

:root {
  --background-color: white;
  --font-color: black;
  --subheader-font-color: darkgrey;

  --inverse-background-color: black;
  --inverse-font-color: white;
  --inverse-subheader-font-color: lightgrey;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Plus Jakarta Display', sans-serif;
}

canvas {
  display: block; /* fix necessary to remove space at bottom of canvas */
  position: absolute;
  z-index: -1;
  max-width: 90vw;
  max-height: calc(1.22 * 90vw); /* 1.22 represents the ratio of the renderer*/
}

@media screen and (min-width: 1200px) {
  canvas {
    padding-right: 40px;
  }
}

@media screen and (max-width: 340px) {
  canvas {
    padding-left: 7px;
  }
}

h1 {
  color: ;
  font-size: 3.35rem;
  line-height: 1.1;
  letter-spacing: 0.05rem;
}

@media screen and (max-width: 1130px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 2rem;
  }
}

h1 > span {
  background-image: linear-gradient(
    108deg,
    #b16cea 8%,
    #ff5e69 40%,
    #ff8a56 77%,
    #ffa84b 91%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: black;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

h2 > span {
  background-image: linear-gradient(
    108deg,
    #b16cea 8%,
    #ff5e69 40%,
    #ff8a56 77%,
    #ffa84b 91%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 1.8rem;
  text-align: center;
}

@media screen and (max-width: 1130px) {
  h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 780px) {
  h3 {
    font-size: 1.4rem;
  }
}

h3 > span {
  background-image: linear-gradient(
    108deg,
    #b16cea 8%,
    #ff5e69 40%,
    #ff8a56 77%,
    #ffa84b 91%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
}

h5 {
  font-size: 1.2rem;
  font-weight: 300;
}

@media screen and (max-width: 1130px) {
  h5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 780px) {
  h5 {
    font-size: 1rem;
  }
}

a:hover {
  opacity: 70%;
}

p {
  line-height: 1.4rem;
}

.p-bold {
  font-weight: bold;
}

.p-italics {
  font-style: italic;
}

.p-line-break {
  margin: 1rem;
}

.small-p {
  font-size: 0.8rem;
}

.smaller-p {
  font-size: 0.65rem;
}

.caption {
  color: dimgrey;
  font-style: italic;
  font-size: 0.8rem;
  line-height: 0;
  margin: 10px 0px 20px 0px !important;
}

ol {
  padding-left: clamp(50px, 5vw, 60px);
  margin-bottom: 1.4rem;
  margin-top: 1rem;
}

ul {
  padding-left: clamp(40px, 5vw, 50px);
  margin-bottom: 1.4rem;
  margin-top: 1rem;
}

li {
  margin-bottom: 1.3rem;
}

.p-parent p {
  margin: 1rem;
}

.a-contents {
  display: contents;
}

.inverse-font-color {
  color: var(--inverse-font-color);
}

.no-link {
  text-decoration: unset;
  color: unset;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
}

.section-container {
  padding: 60px;
  width: 80vw;
  max-width: 1080px;
}

.section-title-grey {
  color: white;
  font-size: 200%;
  font-family: 'Source Code Pro', monospace;
}

.section-title-white {
  color: #888787;
  font-size: 200%;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

.section-container-slim {
  padding: 60px;
  width: 80vw;
  max-width: 700px;
}

@media screen and (max-width: 767px) {
  .section-container {
    padding: 60px 15px 60px 15px;
  }
}

.codepen-container {
  width: 75vw;
  max-width: 1280px;
}

.nav-section {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
}

nav {
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  max-width: 1080px;
  padding: 20px 60px 20px 60px;
  z-index: 1;
  position: relative;
  background-color: var(--background-color);
}

@media screen and (max-width: 767px) {
  .nav-container {
    padding: 20px 15px 20px 15px;
  }
}

.menu-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
}

.menu-name {
  font-family: 'Source Code Pro', monospace;
  color: #888787;
}

.primary-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 66%;
}

.menu-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 66%;
  list-style-type: none;
  margin: 0;
}

.menu-link {
  color: #000;
  font-size: 16px;
  line-height: 28px;
  padding: 10px;
  text-decoration: none;
}

/* hamburger menu */
.hamburger-menu {
  display: none;
  z-index: 1000;
}

.burger-line {
  background-color: var(--font-color);
  width: 25px;
  height: 3px;
  margin: 5px;
}

.mobile-menu-container {
  display: none;
  padding: 40px;
  background-color: var(--background-color);
  box-shadow: 0px 5px 5px grey;
}

@media screen and (max-width: 1026px) {
  .make-absolute {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 60px;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: end;
  width: 80%;
}

.show-flex {
  display: flex;
}

.mobile-menu-links {
  list-style-type: none;
}

.mobile-menu-link {
  color: #000;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
}

.mobile-menu-links li {
  padding: 5px;
}

@media screen and (max-width: 1026px) {
  .hamburger-menu {
    display: block;
  }

  .primary-menu {
    display: none;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.image-size {
  width: 80vw;
  max-width: 700px;
}

.blog-width p {
  width: 80vw;
  max-width: 700px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-bar-name {
  font-family: 'Source Code Pro', monospace;
  color: #888787;
}

.title-name {
  font-family: 'Source Code Pro', monospace;
  color: #888787;
  font-size: 1.5em;
}
.profile-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-width: 60%;
  max-width: 480px;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  .profile-left {
    padding-bottom: 40px;
  }
}

.hero-subheader {
  padding: 20px 0px 10px 0px;
  max-width: 540px;
}

.hero-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 40%;
  max-width: 320px;
}

@media screen and (max-width: 1000px) {
  .hero-right {
    margin-bottom: -50px;
  }
}

/* @media screen and (max-width: 780px) {
  .hero-right{
    max-width: 100%;
  }
} */

.portrait {
  width: 20vw;
  max-width: 95vw;
  border-radius: 8%;
  padding: 1vw;
}

.portrait-outline {
  margin-left: 50px;
  border-radius: 2.5%;
  outline-color: #888787;
  outline-style: double;
}

@media screen and (min-width: 1000px) {
  .portrait {
    margin-right: auto;
  }
}

.hero-btns {
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px 10px 0px;
}

.profile-btn {
  text-decoration: none;
  width: 7vw;
  margin: 10px 15px 10px 15px;
  border: 0px;
  background-color: #555555;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.profile-btn:hover {
  background-color: #888787;
}
.skills-section {
  background-color: #555555;
  outline-style: double;
  outline-color: #555555;
  margin-top: 20vh;
  color: white;
}

.skill-card-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.experience-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.devicon {
  font-size: 3rem;
  padding-bottom: 10px;
}

.card-title {
  padding: 30px 5px 10px 5px;
}

.languages-card {
  min-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.resume-card {
  min-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.languages-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.technologies-card {
  min-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.technologies-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.other-tools-card {
  min-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.other-tools-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  display: grid;
  place-items: center;
  padding: 10px;
}

.projects-section {
  display: flex;
  justify-content: center;
}

.project-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  padding-top: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  max-width: 270px;
  margin: 20px;
  border-style: double;
  border-color: #888787;
  padding: 2%;
  border-radius: 10px;
  margin: 1%;
}

.card-img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.card-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 20px 20px 20px 20px;
  text-align: justify;
}

.card-description {
  padding: 20px 0px 30px 0px;
}

.made-with-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #888787;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  align-self: flex-end;
}

.project-preview-btn {
  text-decoration: none;
  margin: 10px 0px 10px 0px;
  border: 0px;
  background-color: white;
  color: #000;
  width: 130px;
  padding: 10px;
  box-shadow: 5px 5px #b16cea;
}

.project-code-btn {
  margin: 10px 0px 10px 0px;
  text-decoration: none;
  border: 0px;
  background-color: white;
  color: #000;
  width: 130px;
  padding: 10px;
  box-shadow: 5px 5px #ff5e69;
}

.project-preview-btn:hover {
  background-color: #e2e2e2;
}

.project-code-btn:hover {
  background-color: #e2e2e2;
}

.resume-section {
  background-color: #555555;
  outline-style: double;
  outline-color: #555555;
}

.resume-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
}

.resume-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 0px 20px 0px;
}

.resume-titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.resume-links {
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.resume-btn {
  text-decoration: none;
  width: 7vw;
  margin: 10px 15px 10px 15px;
  border: 0px;
  background-color: white;
  color: #2a2a2a;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.resume-btn:hover {
  background-color: #888787;
}

.text-align-right {
  text-align: right;
}

.resume-thumbnail {
  width: 350px;
  max-width: 80vw;
}

.contact-section {
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bottom-padding {
  padding-bottom: 80px;
}

.bottom-padding-40 {
  padding-bottom: 40px;
}

.bottom-padding-20 {
  padding-bottom: 20px;
}

.bottom-margin {
  margin-bottom: 80px;
}

.bottom-margin-40 {
  margin-bottom: 40px;
}

.bottom-margin-20 {
  margin-bottom: 20px;
}

.text-align-left {
  text-align: left;
}

.contact-left {
  width: 405px;
  max-width: 80vw;
}

.contact-left p {
  margin-right: 5vw;
}

.contact-details {
  padding: 15px 0px 15px 0px;
  font-family: 'Source Code Pro', monospace;
  font-size: 230%;
  color: #888787;
}

.source-code-font {
  font-family: 'Source Code Pro', monospace;
  padding: 2%;
  font-weight: bold;
}

.contact-right {
  width: 405px;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.contact-form-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px none #000;
  background-color: #f2f6f7;
  line-height: 28px;
  width: 100%;
  margin: 4px 0px 4px 0px;
  padding: 0px 5px 0px 5px;
}

.name-fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1px 0px 1px 0px;
}

.first-name-field {
  width: 48%;
}

.last-name-field {
  width: 48%;
}

.email-address-field {
  width: 100%;
  padding: 5px 0px 5px 0px;
}

.message-field {
  width: 100%;
  padding: 5px 0px 5px 0px;
}

.form-button {
  padding: 10px 0px 10px 0px;
}

button {
}

button:hover {
  background-color: rgb(207, 207, 207);
  cursor: pointer;
}

button:focus {
}

.white-button {
  margin: 5px 0px 5px 0px;
  border: 0px;
  background-color: white;
  color: #000;
  padding: 10px;
  box-shadow: 5px 5px #ff5e69;
}

.thankyou-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.blog-highlight {
  padding: 25px;
  font-style: italic;
  background-image: linear-gradient(
    108deg,
    #f7f1fd 8%,
    #fdeff3 40%,
    #fff2ef 77%,
    #fff6ed 91%
  );
  color: #2a2a2a;
}

.opacity-hover:hover {
  opacity: 70%;
}

.blog-section {
  display: flex;
  justify-content: center;
}

.blog-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.blog-card {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: 20px;
  background-image: linear-gradient(
    130deg,
    #ffffff 1%,
    #f4f4f4 20%,
    #ececec 30%,
    #ffffff 99%
  );
  box-shadow: 5px 5px #ff8d4b;
}

.blog-card-image {
  width: 400px;
}

@media screen and (max-width: 1080px) {
  .blog-card-image {
    display: none;
  }
}

.blog-card-text-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blog-card-text {
  padding: 20px 20px 20px 20px;
  text-align: center;
}
